*.pptx#

# build artifacts
filesystem_hook/hidefile.so
filesystem_hook/rawls
filesystem_hook/sandbox/
kernel_module/*.ko
kernel_module/*.o
kernel_module/*.mod
kernel_module/*.mod.c
kernel_module/.*.cmd
kernel_module/Module.symvers
kernel_module/modules.order
